{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="register">
        <h1>{{ 'Veuillez vous enregistrer'|trans }}</h1>
        <div >
            {{ form_start(RegisterForm) }}
            {{ form_row(RegisterForm.utilisateur_pseudo) }}
            {{ form_row(RegisterForm.utilisateur_email) }}
            {{ form_row(RegisterForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(RegisterForm.agreeTerms,{
                label: "Veuillez cocher la case pour valider votre inscription"
            }) }}

            <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(RegisterForm) }}
        </div>
    </div>
{% endblock %}
