<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/rules.js') }}"></script>
    </head>
    <body>
        <header>
            <div class="navbar">
                <img src="{{ asset('logo.png') }}" alt="">
                <div class="navbar-content">
                    <div class="navbar-content-upper">
                        <a href="{{ path('app_index') }}">
                            <div class="iconBtn">
                                <div class="iconBtn-fg">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/home.svg')
                                        }}" alt=""></span><p>Accueil</p>
                                </div>
                                <div class="iconBtn-bg"></div>
                            </div>
                        </a>
                        <a href="{{ path('app_rules') }}">
                            <div class="iconBtn">
                                <div class="iconBtn-fg">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/page.svg')
                                        }}" alt=""></span><p>Comment jouer ?</p>
                                </div>
                                <div class="iconBtn-bg"></div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="iconBtn">
                                <div class="iconBtn-fg">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/controller.svg') }}" alt=""></span><p>Parties jouées ?</p>
                                </div>
                                <div class="iconBtn-bg"></div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="iconBtn">
                                <div class="iconBtn-fg">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/stats.svg')
                                        }}" alt=""></span><p>Statistiques</p>
                                </div>
                                <div class="iconBtn-bg"></div>
                            </div>
                        </a>

                    </div>
                    <div class="navbar-content-lower">
                        <div class="account-language-container">
                            <a href="#">
                                <div class="iconCta">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/www.svg') }}"
                                                                                alt=""></span>
                                </div>
                            </a>
                            <a href="#">
                                <div class="iconCta">
                                    <span class="material-symbols-rounded"><img src="{{ asset('images/ico/profile.svg') }}" alt=""></span>
                                </div>
                            </a>
                        </div>
                        <div class="policy-links-container">
                            <a href="#"><span>Conditions d'utilisations</span></a>
                            <a href="#"><span>Politique de confidentialité</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
